<html>

{% include head.html %}

<body>
<style>
body{
    padding:32px;
}
table{
    width:100%;
    margin-bottom:90px;
}
td{
    padding: 5px 0px;
}
td:nth-child(1) {
    max-width:35%;
    padding-right:10px;
}
td:nth-child(2) {
    background:#eeeeee;
    padding: 0px 5px;
}
td:nth-child(3) {
    max-width:35%;
    padding-left:10px;
}
tr{
    border-bottom:1px solid #ddd;
}
pre.highlight{
    border:0px;
    margin:0px;
    padding:0px;
    margin-bottom:6px;
}
blockquote{
    font-size:1.5rem;
    max-width:50%;
}

</style>


            {{ content }}

    {% include js_files.html %}
</body>

</html>
